/*
Orkes Conductor API Server

Orkes Conductor API Server

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package orkescd

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type HumanTaskResourceAPI interface {

	/*
		GetConductorTaskById Get Conductor task by id (for human tasks only)

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param taskId
		@return HumanTaskResourceAPIGetConductorTaskByIdRequest
	*/
	GetConductorTaskById(ctx context.Context, taskId string) HumanTaskResourceAPIGetConductorTaskByIdRequest

	// GetConductorTaskByIdExecute executes the request
	//  @return Task
	GetConductorTaskByIdExecute(r HumanTaskResourceAPIGetConductorTaskByIdRequest) (*Task, *http.Response, error)
}

// HumanTaskResourceAPIService HumanTaskResourceAPI service
type HumanTaskResourceAPIService service

type HumanTaskResourceAPIGetConductorTaskByIdRequest struct {
	ctx        context.Context
	ApiService HumanTaskResourceAPI
	taskId     string
}

func (r HumanTaskResourceAPIGetConductorTaskByIdRequest) Execute() (*Task, *http.Response, error) {
	return r.ApiService.GetConductorTaskByIdExecute(r)
}

/*
GetConductorTaskById Get Conductor task by id (for human tasks only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param taskId
	@return HumanTaskResourceAPIGetConductorTaskByIdRequest
*/
func (a *HumanTaskResourceAPIService) GetConductorTaskById(ctx context.Context, taskId string) HumanTaskResourceAPIGetConductorTaskByIdRequest {
	return HumanTaskResourceAPIGetConductorTaskByIdRequest{
		ApiService: a,
		ctx:        ctx,
		taskId:     taskId,
	}
}

// Execute executes the request
//
//	@return Task
func (a *HumanTaskResourceAPIService) GetConductorTaskByIdExecute(r HumanTaskResourceAPIGetConductorTaskByIdRequest) (*Task, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Task
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HumanTaskResourceAPIService.GetConductorTaskById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/human/tasks/{taskId}/conductorTask"
	localVarPath = strings.Replace(localVarPath, "{"+"taskId"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
